.app-hero-block {
	margin-bottom: 70px;
	&__slideshow {
		display: block;
		width: 100%;
		height: auto;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		line-height: 0;
		&__wrapper {
			position: relative;
		}
		&__item {
			background: $white;
			img {
				display: block;
				margin: 0 auto;
			}
			&__link {
				font-size: 0;
				color: transparent;
				position: relative;
				display: block;
				&:before {
					$dimensions: 12px;
					content: '';
					position: absolute;
					display: block;
					width: $dimensions;
					height: $dimensions;
					background: rgba(183, 187, 189, 1);
					border: 2px solid rgba(183, 187, 189, 1);
					@include border-radius(50%);
					left: 50%;
					top: 20px;
					margin-left: -$dimensions / 2;
				}
				&--active {
					@extend .app-hero-block__slideshow__item__link;
					background: $white;
				}
			}
		}
	}



	&__details {
		background: $white;
		display: block;
		width: 340px;
		border: 1px solid $border-color;
		padding: 40px 0 0 40px;
		margin: 40px auto;
		vertical-align: top;
		height: 442px;
		
		//app name
		&__name {
			font-size: 28px;
			@include font-normal;
			margin-top: 20px;
			margin-bottom: 6px;
		}

		//stars with # of reviews
		&__rating {
			margin-bottom: 26px;
			&__total {
				font-size: 14px;
				color: $copy-color-light;
			}
		}

		//button
		&__action {
			display: inline-block;
			width: 174px;
			text-align: center;
			padding: 10px 0;
			border: 2px solid $border-color;
			@include border-radius(50px);
			@include font-semibold;
			color: $copy-color;
			margin-bottom: 40px;
			&:hover {
				border: 2px solid darken($border-color, 20%);
				color: darken($copy-color, 5%);
			}
		}

		//additional details
		&__info {
			line-height: 36px;
			&__item {
				@include font-semibold;
				border-bottom: 1px solid $border-color;
				&:last-child {
					border-bottom: none;
				}
			}	
		}
	}
}






@media screen and (min-width: $M){
	.app-hero-block {
		padding: 0;
	}
}


@media screen and (min-width: $L){
	.app-hero-block {
		margin-bottom: 66px;
		padding: 40px 0 0 0;
		&__slideshow {			
			width: 705px;
			display: inline-block;
			margin-right: 20px;
			border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
		}	
		&__details {
			width: 297px;
			display: inline-block;
			float: right;
			margin: 0;
			padding: 36px 0 0 36px;
			height: 436px;
		}
	}
}


@media screen and (min-width: $XL){
	.app-hero-block {
		&__slideshow {			
			width: 716px;
			margin-right: 40px;
		
		}	
		&__details {
			width: 344px;
			padding: 40px 0 0 40px;
			height: 442px;
		}
	}
}