/* 
	<div class="app-support">
		<dl class="app-support__contact">
			<dt class="app-support__contact__type">Email</dt>
			<dd class="app-support__contact__info"><a href="mailto:#">help@mailchimp.com</a></dd>
			<dt class="app-support__contact__type">Help</dt>
			<dd class="app-support__contact__info"><a href="mailto:#">kb@mailchimp.com</a></dd>
		</dl>
	</div> <!-- app-support -->
*/                


.app-support {
	$local-line-height: 16px;

	display: block;
	vertical-align: top;
	border-top: 1px solid $border-color;
	&__contact {
		width: 100%;
		&__type {
			display: inline-block;
			width: 37%;
			margin-bottom: $local-line-height;
		}
		&__info {
			@include font-semibold;
			display: inline-block;
			width: 60%;
			margin-bottom: $local-line-height;
		}
	}	
}





@media screen and (min-width: $M){

}


@media screen and (min-width: $L){
	.app-support {
		border: none;
	}
}


@media screen and (min-width: $XL){

}
