.app-support {
	display: block;
	vertical-align: top;
	border-top: 1px solid $border-color;
	&__contact {
		&__type {
			display: inline-block;
			width: 30%;
			margin-bottom: 16px;
		}
		&__info {
			display: inline-block;
			width: 60%;
			margin-bottom: 16px;
		}
	}	
}





@media screen and (min-width: 768px){

}


@media screen and (min-width: 1024px){
	.app-support {
		border: none;
	}
}


@media screen and (min-width: 1440px){
	.app-support {
	}	
}
