.app-description {
	//padding: 0 40px;
	display: block;
	vertical-align: top;
	margin-bottom: 40px;
}


@media screen and (min-width: 768px){
	
}


@media screen and (min-width: 1024px){
	.app-description {
		// width: 705px;
		// display: inline-block;
		// margin-right: 20px;
	}
}


@media screen and (min-width: 1440px){
	.app-description {
		// width: 716px;
		// margin-right: 40px;
	}
}