.app-description {
	//padding: 0 40px;
	display: block;
	vertical-align: top;
	margin-bottom: 40px;
}


@media screen and (min-width: $M){
	
}


@media screen and (min-width: $L){

}


@media screen and (min-width: $XL){

}