.header {
	$header-wrapper-height: 80px;
	$header-content-top-margin: 40px;

	// wraps header section
	&__wrapper {
		height: $header-wrapper-height;
		color: $copy-color;
	}

	// subheader itself
	&__sub {
		font-size: $header-size;
		margin-top: $header-content-top-margin;
		display: inline-block;
		@include font-light;
		&--semibold {
			@extend .header__sub;
			@include font-semibold;
		}
	}

	// links
	&__action {
		font-size: $header-size;
		margin-top: $header-content-top-margin;
		&--right {
			@extend .header__action;
			float: right;
		}
		&--left {
			@extend .header__action;
			float: left;
		}
		i {
			font-weight: 700;
		}
	}
}




@media screen and (min-width: 768px){

}


@media screen and (min-width: 1024px){
	// .header {
	// 	&__wrapper {
	// 		padding: 0 60px;
	// 	}
	// }
}


@media screen and (min-width: 1440px){
	.header {
		&__wrapper {
			padding: 0;
		}
	}		
}