
/*
	<div class="header__wrapper">
        <h2 class="header__sub">Header</h2>
		<a href="#" class="header__action--right">Call to Action <i class="fa fa-angle-right"></i></a>
		<a href="#" class="header__action--left">Call to Action <i class="fa fa-angle-left"></i></a>
	</div>
*/


.header {
	$header-wrapper-height: 75px;
	$header-content-top-margin: 36px;

	// wraps header section
	&__wrapper {
		//height: $header-wrapper-height;
		color: $copy-color;
		margin: 35px 0 0 0;
	}

	// subheader itself
	&__sub {
		font-size: $header-size;
		//margin-top: $header-content-top-margin;
		display: inline-block;
		@include font-normal;
		&--semibold {
			margin-bottom: 10px;
			@extend .header__sub;
			@include font-semibold;
		}
	}

	// links
	&__action {
		font-size: $font-size;
		&--right {
			@extend .header__action;
			float: right;
			margin-right: 9px;
			i {
				@include transition-duration(0.075s);
  				@include transition-timing-function(ease-in-out);
				position: relative;
				right: 0;
			}
			&:hover {
				i {
					right: -2px;
				}
			}
		}
		&--left {
			@extend .header__action;
			float: left;
			i {
				@include transition-duration(0.075s);
  				@include transition-timing-function(ease-in-out);
				position: relative;
				left: 0;
			}
			&:hover {
				i {
					left: -2px;
				}
			}
		}
		i {
			font-weight: 700;
		}
	}
}




@media screen and (min-width: $M){

}


@media screen and (min-width: $L){

}


@media screen and (min-width: $XL){
	.header {
		&__wrapper {
			padding: 0;
		}
	}		
}