

//Typography
$font-family: 		"proxima-nova", sans-serif;
$font-size: 		16px;
$header-size: 		18px;
$font-sizeSM: 		$font-size - 2px;



//Colors
$black: 			#000;
$off-black: 		#363b3e;
$white: 			#fff;
$off-white: 		#f8f8f8;
$happy-orange: 		#FF8F2E;

$copy-color: 		$off-black;
$copy-color-light: 	#80868a;

$accent-color: 		#666c70;

$links-color: 		#2990ea;
$links-color-hover: #7BC4FD;

$border-color: 		#D4D5D6;
$border-color-dark: #9BA0A3;


//Media queries - break points
$M: 				768px;
$L:  				1024px;
$XL: 				1440px;