.page-topbar {

	$height: 55px;
	line-height: $height;
	background: $white;
	text-align: center;
	font-size: $header-size;
	@include font-semibold;	
	&.height-increased {
		height: $height * 2;
	}

	&__menu {
		display: inline-block;
		margin: 0 20px;

		//top nav
		&__item {
			position:relative;
			@include transition(all 0.15s ease-in-out);
			&:hover > .page-topbar__menu__dropdown__sub {
				display: block;
				@include opacity(1);
			}
			&__link {
				color: $copy-color;
				&:hover {
					color: inherit;
				}
				i {
					font-size: $font-sizeSM;
					position: relative;
					top: -2px;
					left: 2px;
					color: #B7BBBD;
				}
			}
		}

		//dropdown menu
		&__dropdown {
			list-style:none;
			position:relative;
			margin:0;
			padding:0;
			text-align: left; 
			&__sub {
				@include transition(all 0.15s ease-in-out);
				position: absolute;
				top: 80%;
				left: -24px;
				background: $white;
				border: 1px solid $border-color-dark;
				padding: 10px 38px 10px 24px;
				z-index: 10;
				white-space: nowrap;
				z-index: 100;
				@include opacity(0);
				display: none;
				&:after {
					$dimensions: 10px;

					content: "";
					display: inline-block;
					width: $dimensions;
					height: $dimensions;
					background: $white;
					border-top: 1px solid $border-color-dark;
					border-left: 1px solid $border-color-dark;
					position: absolute;
					top: - ($dimensions / 2) - 1px;
					right: 22px;
					@include rotate(45deg);
				}
				&__item {
					float: none;
					line-height: 2.2;
					&__link {
						@include font-normal;
						color: $copy-color-light;
						&:hover {
							color: inherit;
						}
					}
				}
			}
		}
	} //menu ends



	//page title
	&__title {
		display: inline-block;
		margin: 0 20px;
	}

	//back nav
	&__back {
		display: inline-block;
		i {
			font-weight: 700;
			font-size: 24px;
			position: relative;
			top: 2px;
			left: -2px;
			@include transition-duration(0.075s);
  			@include transition-timing-function(ease-in-out); 
		}
		&:hover {
			i {
				left: -4px;
			}
		}
	}
}




@media screen and (min-width: $M){
	.page-topbar {
		$height: 55px;
		height: $height;
		&.height-increased {
			height: $height;
		}
		&__menu {
			padding-left: $height;
			float: left;
			margin: 0;
		}
		&__title {
			margin: 0;
		}
		&__back {
			padding-left: $height;
			float: left;
		}
	}
}


@media screen and (min-width: $L){

}


@media screen and (min-width: $XL){

}