

body {
  	background: #fafafa;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	color: $copyColor;
}



.page-header {
	$headerMainColor: $copyColor;
	$headerSubColor: $accentColor;
	line-height: 2;
	&__main {
		color: $headerMainColor;
		@include adjust-font-size-to(50px);
	}
	&__sub {
		color: $headerSubColor;
		@include adjust-font-size-to(30px);
		text-transform: uppercase;
	}
}


