html {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

*, 
*:before, 
*:after {
  	-webkit-box-sizing: inherit;
  	-moz-box-sizing: inherit;
  	box-sizing: inherit;
}

body {
  	background: $off-white;
  	font-family: $font-family;
  	color: $copy-color;
}

a {
	color: $links-color;
	text-decoration: none;
}



.header {
	&__wrapper {
		height: 90px;
		font-size: 18px;
		color: $copy-color;
	}
	&__sub {
		margin-top: 40px;
		display: inline-block;
		@include font-light;
	}
	&__action {
		&--right {
			float: right;
			margin-top: 40px;
			@include font-light;
		}
	}
}





@media screen and (min-width: 768px){

}





@media screen and (min-width: 1024px){
	.wrapper__full-width {
		background: $white;
		border-bottom: 1px solid #e5e5e5;
	}
	.wrapper__fixed-width {
		max-width: 1440px;
		margin: 0 auto;
	}		
}