html {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    a {
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    }
}

*, 
*:before, 
*:after {
  	-webkit-box-sizing: inherit;
  	-moz-box-sizing: inherit;
  	box-sizing: inherit;
}



body {
  	background: $off-white;
  	font-family: $font-family;
  	color: $copy-color;
  	font-size: $font-size;
}

a {
	color: $links-color;
	text-decoration: none;
	@include font-semibold;
	@include transition-duration(0.10s);
  	@include transition-timing-function(ease-in);
	&:hover {
		color: $links-color-hover;
	}
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
}

.fa-star,
.fa-star-o,
.fa-star-half-o {
	color: #FF8F2E;
}





.wrapper__full-width {
	overflow: hidden;
}

.wrapper__fixed-width {
	position: relative;
}
.wrapper__fixed-width-a {
	position: relative;
}


@media screen and (min-width: 768px){

}


@media screen and (min-width: 1024px){

	.wrapper__full-width {
		background: $white;
		border-bottom: 1px solid #e5e5e5;
	}
	.wrapper__fixed-width {
		width: 1024px;
		margin: 0 auto;
	}	


	.wrapper__fixed-width-a {
		width: 1024px;
		display: block;
		margin: 0 auto;
	}


	.width-two-thirds {
		width: 705px;
		display: inline-block;
		margin-right: 20px;
	}

	.width-one-third {
		width: 297px;
		display: inline-block;
		float: right;
		padding-left: 40px;
		vertical-align: top;
	}		
	
}


@media screen and (min-width: 1440px){
	.wrapper__fixed-width {
		width: 1440px;
	}	
	.wrapper__fixed-width-a {
		width: 1100px;
	}	


	.width-two-thirds {
		width: 716px;
		margin-right: 40px;
	}

	.width-one-third {
		width: 344px;
		padding: 40px 40px 0 40px;
		height: 442px;
		vertical-align: top;
	}	
}