/*
	<div class="marketplace-library">
		<div class="marketplace-library__items__wrapper">
			<a href="#" class="marketplace-library__item">
                <img src="" class="marketplace-library__item__image" alt="">
                <h3 class="marketplace-library__item__header">Header</h3>
                <div class="marketplace-library__item__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p class="marketplace-library__item__discription">Let your visitors signup for newsletters from your</p>
                <p class="marketplace-library__item__action">Free Trial</p>
            </a>
        </div>
    </div>
*/



.marketplace-library {
	padding: 0 40px;
	display: block;
	vertical-align: top;
	&__item {
		width: 202px;
		max-height: 260px;
		vertical-align: top;
		display: block;
		border: 1px solid $border-color;
		margin: 17px auto 0;
		padding: 20px;
		color: $copy-color;
		background: $white;
		text-align: left;
		position: relative;
  		@include transition(all 0.15s ease-in-out);
		&:hover {
			color: inherit;
			border-color: $links-color-hover;
			//@include transform (scale(1.005) rotate(0.1deg));
			//@include single-box-shadow (0, 0, 14px, -4px, rgba(0, 0, 0, 0.085));
			@include box-shadow (0 0 14px rgba(0, 0, 0, 0.085));
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				background: transparent;				
				z-index: -1;
				@include box-shadow (0 0 18px rgba(0, 0, 0, 0.125));
			}
		}
		&__image {
			margin-bottom: 10px;
		}
		&__header {
			font-size: $font-size;
			margin-bottom: 4px;
			@include font-semibold;
		}
		&__rating {
			margin-bottom: 4px;
			i {
				font-size: 13px;
			}
		}
		&__discription {
			color: #666c70;
			font-size: $font-sizeSM;
			margin-bottom: 4px;
			line-height: 21px;
			@include font-semibold;
		}
		&__action {
			color: $links-color;
			font-size: $font-size;
		}
	}
}


@media screen and (min-width: $M) {
	.marketplace-library {
		&__item {
			display: inline-block;
			margin: 17px 8px 0;
		}		
	}	
}


@media screen and (min-width: $L){
	.marketplace-library {
		width: 100%;
		margin: 0 auto;
		padding: 0 40px;
	}		
}


@media screen and (min-width: $XL){
	.marketplace-library {
		width: 1100px;
		padding: 0;
		// &__items {
		// 	&__wrapper {
		// 		height: 260px;
		// 	}
		// }
		&__item {
			&:first-child {
		 		margin-left: 0;
		 	}
		 	&:last-child {
		 		margin-right: 0;
		 	}
		}
	}
}