/*

    <div class="marketplace-hero-carousel">
        <ul class="marketplace-hero-carousel__wrapper">
            <li class="marketplace-hero-carousel__item">
                <a href="#">
                    <img src="images/img-namge.jpg" data-src2x="images/img-namge-2x.jpg" width="460" height="284" alt="altTag">
                </a>
            </li>
        </ul>
    </div>
    

*/





.marketplace-hero-carousel {
	background: $white;
	height: 344px;
	text-align: center;
	line-height: 0;
	&__wrapper {
		width: 1440px;
		position: absolute;
		left: 50%;
		margin: 0 0 0 -720px;
	}
	&__item  {
		display: inline-block;
		border: 1px solid $border-color;
		margin: 28px 5px 0;
		position: relative;
		z-index: 0;
		@include transition(all 0.15s ease-in-out);
		&:hover {
			@include opacity(0.85);
			@include transform (scale(1.0025) rotate(0.1deg));
			//@include single-box-shadow (0, 0, 4px, 2px, rgba(50, 50, 50, 0.05));
			@include box-shadow (0 0 14px rgba(0, 0, 0, 0.0085));
			border-color: darken($border-color, 5%);
		}
	}
}
