.marketplace-hero-carousel {
	background: $white;
	height: 344px;
	text-align: center;
	line-height: 0;
	&__wrapper {
		width: 1440px;
		position: absolute;
		left: 50%;
		margin: 0 0 0 -720px;
	}
	&__item  {
		display: inline-block;
		border: 1px solid #CECECE;
		margin: 28px 5px 0;
		position: relative;
		z-index: 0;
		&:hover {
			@include opacity(0.85);
			@include single-box-shadow (0, 0, 4px, 2px, rgba(50, 50, 50, 0.05));
		}
	}
}
