/*

<div class="marketplace-hero-carousel__arrow__triger">
  	<div class="marketplace-hero-carousel">
  		<a href="#" class="marketplace-hero-carousel__arrow--left">Previous Slide</a>
        <a href="#" class="marketplace-hero-carousel__arrow--right">Next Slide</a>
    </div>
</div>

*/


.marketplace-hero-carousel {
	position: relative;
}

// to hide the text form the actual links... text added for the accesibility reasons but could be removed
.marketplace-hero-carousel__arrow {
	font-size: 0;
	color: transparent;
}

// we displaying round background on hover 
.marketplace-hero-carousel__arrow__triger:hover .marketplace-hero-carousel__arrow:before {
	@include opacity(0.1);	
}

// we displaying arrow on hover 
.marketplace-hero-carousel__arrow__triger:hover .marketplace-hero-carousel__arrow:after {
	@include opacity(1);		
}

// adding shadow under the round background on hover
.marketplace-hero-carousel__arrow:hover:before {
	background: $black;
	@include single-box-shadow (0, 0, 4px, 2px, rgba(50, 50, 50, 0.025));
}

// changing arrow color to brighter one on hover
.marketplace-hero-carousel__arrow:hover:after {
	border-color: $white;
}


//this is the round background styles
.marketplace-hero-carousel__arrow:before {
	$dimensions: 40px;
	content: "";
	position: absolute;
	background: $off-black;
	display: block;
	width: $dimensions;
	height: $dimensions;
	border-radius: 50%;
	top: 50%;
	margin-top: -$dimensions / 2;
	@include opacity(0);
	z-index: 1;
	@include transition-duration(0.15s);
  	@include transition-timing-function(ease-in);
}


//this is the arrow styles
.marketplace-hero-carousel__arrow:after {
	$dimensions: 14px;
	content: "";
	position: absolute;
	display: block;
	width: $dimensions;
	height: $dimensions;
	top: 50%;
	margin-top: -$dimensions / 2;
	border-left: 3px solid $off-white;
	border-bottom: 3px solid $off-white;
	//@include rotate(45deg);
	z-index: 2;
	@include opacity(0);
}

// extending styles above to the modifier elements.
.marketplace-hero-carousel__arrow--left,
.marketplace-hero-carousel__arrow--right {
	@extend .marketplace-hero-carousel__arrow;
}
.marketplace-hero-carousel__arrow--left:hover:before {
	@extend .marketplace-hero-carousel__arrow:hover:before;
}
.marketplace-hero-carousel__arrow--left:before {
	@extend .marketplace-hero-carousel__arrow:before;
	left: 22px;
}
.marketplace-hero-carousel__arrow--left:after {
	@extend .marketplace-hero-carousel__arrow:after;
	left: 37px;
	@include rotate(45deg);
}
.marketplace-hero-carousel__arrow--right:hover:before {
	@extend .marketplace-hero-carousel__arrow:hover:before;
}
.marketplace-hero-carousel__arrow--right:before {
	@extend .marketplace-hero-carousel__arrow:before;
	right: 22px;
}
.marketplace-hero-carousel__arrow--right:after {
	@extend .marketplace-hero-carousel__arrow:after;
	right: 37px;
	@include rotate(225deg);	
}