.page-topbar {
	$height: 60px;
	height: $height - 2px;
	line-height: $height;
	background: $white;
	text-align: center;
	font-size: 18px;
	@include font-semibold;
	&__menu {
		display: inline-block;
		float: left;
		padding-left: $height;
	}
	&__title {
		display: inline-block;
	}
	&__search {
		display: inline-block;
		float: right;
		padding-right: $height;
	}
	&__back {
		display: inline-block;
		float: left;
		padding-left: $height;
	}
}