.page-topbar {
	$height: 60px;
	//height: $height;
	line-height: $height;
	background: $white;
	text-align: center;
	font-size: 18px;
	@include font-semibold;	

	&__menu {
		display: inline-block;
		margin: 0 20px;

		//top nav
		&__item {
			position:relative;
			&:hover > .page-topbar__menu__dropdown__sub {
				display: block;
			}
			&__link {
				color: $copy-color;
				&:hover {
					color: inherit;
				}
				i {
					font-size: 14px;
					position: relative;
					top: -2px;
					left: 2px;
					color: $copy-color-light;
				}
			}
		}

		//dropdown menu
		&__dropdown {
			list-style:none;
			position:relative;
			margin:0;
			padding:0;
			text-align: left; 
			&__sub {
				display: none;
				position: absolute;
				top: 80%;
				left: -24px;
				background: $white;
				border: 1px solid $border-color-dark;
				padding: 10px 34px 10px 24px;
				z-index: 10;
				white-space: nowrap;
				z-index: 100;
				@include transition(all 0.15s ease-in-out);
				&__item {
					float: none;
					line-height: 2.2;
					&__link {
						@include font-light;
						color: $copy-color-light;
						&:hover {
							color: inherit;
						}
					}
				}
			}
		}
	} //menu ends



	//page title
	&__title {
		display: inline-block;
		margin: 0 20px;
	}

	//back nav
	&__back {
		display: inline-block;
		i {
			font-weight: 700;
			font-size: 24px;
			color: $copy-color-light;
			position: relative;
			top: 2px;
			left: -2px;
		}
	}
}




@media screen and (min-width: 768px){
	.page-topbar {
		$height: 60px;
		height: $height; 
		&__menu {
			padding-left: $height;
			float: left;
			margin: 0;
		}
		&__title {
			margin: 0;
		}
		&__back {
			padding-left: $height;
			float: left;
		}
	}
}


@media screen and (min-width: 1024px){

}


@media screen and (min-width: 1440px){

}