//search bar
.page-topbar__search__wrapper {
	width: 310px;
	display: inline-block;
	float: right;
}

.page-topbar__search {
	$height: 60px; //topbar height

	position: relative;
	width: 0%;
	min-width: $height;
	height: $height;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}


.page-topbar__search__submit {
	visibility: hidden;
	position: absolute;
}
	

.page-topbar__search__input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 18px;
	color: $copy-color;
}

.page-topbar__search__input::-webkit-input-placeholder {
	color: $copy-color-light;
}

.page-topbar__search__input:-moz-placeholder {
	color: $copy-color-light;
}

.page-topbar__search__input::-moz-placeholder {
	color: $copy-color-light;
}

.page-topbar__search__input:-ms-input-placeholder {
	color: $copy-color-light;
}

.page-topbar__search__icon,
.page-topbar__search__submit  {
	display: block;
	position: absolute;
	right: 40px;
	top: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

.page-topbar__search__submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.page-topbar__search__icon {
	color: $copy-color;
	z-index: 90;
	font-size: 18px;
}


/* Open state */
.page-topbar__search.page-topbar__search__open,
.no-js .page-topbar__search {
	width: 100%;
}

.page-topbar__search.page-topbar__search__open .page-topbar__search__icon,
.no-js .page-topbar__search .page-topbar__search__icon {
	color: $copy-color;
	z-index: 11;
}

.page-topbar__search.page-topbar__search__open .page-topbar__search__submit,
.no-js .page-topbar__search .page-topbar__search__submit {
	z-index: 90;
}




@media screen and (min-width: 768px){
	.page-topbar {
		$height: 60px;
		&__search {
			padding-right: $height;
			float: right;
		}
	}
}


@media screen and (min-width: 1024px){

}


@media screen and (min-width: 1440px){

}
